body {
  font-family: Arial, sans-serif;
  background-color: wheat;
  height: 100vh;
  margin: 0;
}
.container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  margin-top: 100px;
}
textarea, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
#map {
  height: 400px;
  border-radius:25px;
  margin-bottom: 10px;
}
.head{
  display:flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 100px;
  position: relaive;
  background-color: #eb520a;
  align-items: center;
}
.left-section{
  display:flex;
  align-items: center;
  
}
.img-logo{
  width:100px;
  background-color: white;
  border:none;
  margin-right: 10px;
}
.mid-section{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
}
.img{
  width: 25px;
  border:none;
  margin-left: 20px;
  border-radius:2px;
}
.right-section{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
}
.but{
  margin-left:23px;
}
.button{
  margin-left:23px; 
}